header h1 {
    text-align: center;
}

header h3 {
    text-align: center;
    margin: 0;
}

header img {
    display: inline;
    max-height: 2em;
    margin-left: auto;
    margin-right: auto;
}

header {
  background: linear-gradient(140deg, 
  rgba(243,179,3,0.9), 
  rgba(255,140,0,0.9), 
  rgba(255, 98, 70, 0.9));
}